@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.type-effect {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end), blink .75s step-end infinite;
}

.hero-content {
    width: 80%; /* adjust as needed */
    white-space: pre-wrap;
}