/* BEGIN: Modern Menu Styles */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
 
  .menu-bg {
    background-color: black;
    display: flex;
    justify-content: space-between;
  } 

  .menu-bg-open {
    background-color: black;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    margin: 1%;
    display: flex;
    align-items: center;
    list-style-type: none; /* Remove list styling */
    opacity: 0;
    animation: fadeOut 1s ease;
  }
  
  .menu-open {
    margin: 1%;
    display: flex;
    align-items: center;
    list-style-type: none; /* Remove list styling */
    opacity: 1;
    animation: fadeIn 1s ease;
  }
  
  .menu-item {
    padding: 8px 12px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10%;
    transition: background-color 0.3s ease;
    background-color: #fff; /* Add background color to make buttons look like buttons */
    border: 1px solid #ccc; /* Add border to make buttons look like buttons */
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    margin: 1.25vw;
  }
  
  .menu-item:hover {
    background-color: #ddd;
  }
  
  .menu-item.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .hamburger-icon, .hamburger-icon-open {
    max-height: 8vh;  
  }
  
  .hamburger-icon:hover, .hamburger-icon-open:hover {
    /* Add hover effects for hamburger button */
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  .hamburger-icon:active, .hamburger-icon-open:active {
    /* Add active effects for hamburger button */
    transform: scale(.9);
    transition: transform 0.3s ease;
  }
  /* END: Modern Menu Styles */